# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env

# Jupyter
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Mac/Linux/Windows
.DS_Store
Thumbs.db

/venv
config.yaml
